<!DOCTYPE html>
<html>
<title>Shawn Scott Resume</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
	h{font-family: "Roboto", sans-serif;
		font-size: 35px;
		color:white;
	}

.subm {
    padding-right: 25px;
    padding-left: 25px;
}

.foot_1, .foot_2, .linked, .github {
  Float: left;
  width: 50%;
}

.foot_1, .linked {
  align: right;
  
  padding-left: 30%;
}

.foot_2, .github {
  align: left;
  padding-right: 30%;
}

</style>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <!--  Link to picture  -- https://ibb.co/QmJgCWm -->
          <img src="https://i.ibb.co/h8g6ZG8/D6-DBB7-B5-91-DC-4-DD7-82-B9-2-A88233-B77-E1-removebg-preview.jpg" alt="Avatar" style="width:100%">
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h>Shawn Scott</h>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Software Engineer/Student</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Chicago, IL</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>shawnscott@shawnscott.tech</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>+1(708)-940-6109</p>
          <hr>

          <p class="w3-large"><b>Objective</b></p>
          <p>Quick learning self-taught software, tech, and hardware specialist with excellent problem solving and logical thinking skills looking to obtain a role as a software engineer focusing on but not limited to back-end development and improvement of APIs, databases, and back-end logic.  </p>
          
          <hr>
          <p class="w3-large"><b>Skills</b></p>
          <p>Computer Programming and Coding </p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
          </div>
          <p>Software Testing and Debugging </p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
          </div>
          <p>Network and hardware troubleshooting </p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
          </div>
          <p>Software Development </p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
          </div>
          <p>Use of AI as a Dev Tool </p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
          </div>
		  <p>Written and Verbal Communication </p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
          </div>
          <p>Problem Solving and Logical Thinking </p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
          </div>
          <p>Teamwork &nbsp; &nbsp;</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
          </div>
          <p>Time Management </p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
          </div>
		<hr/>

          <p class="w3-large w3-text-theme"><b>Skills For the Field </b></p>
          <p>Python</p>
          <p>MySQL</p>
          <p>Flask</p>
          <p>Tkinter</p>
          <p>Linux (Debian, Ubuntu, and Kali)</p>
          <p>JavaScript, HTML, CSS</p>
          <p>Selenium</p>
          <p>Swift</p>
          <p>Cloud computing(GCP and Linode)
          <p>Serverless and edge deployment(Cloudflare workers and GCP)</p>
          <p>Java</p>
          <p>Windows CMD and PowerShell</p>
          <p>Microsoft Office</p>
          <p>Git/GitHub</p>
          <p>Network port forwarding </p>
          <p>SSH and VNC connecting </p>
          <p>C/C++ </p>

          
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">

    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
       



          <h2 class="w3-text-grey w3-padding-16">Solo Projects</h2>
										<div class="w3-container">
            <h5 class="w3-opacity"><b> Bella(MiniCPM), AI Chatbot and Humanizer </b></h5>
            <p>Deployed a full-stack, multimodal AI chatbot, building a Gradio UI (Text, Image, PDF) and a GPU-accelerated LLM backend (FastAPI, Modal) with dynamic model loading from HuggingFace. Integrated a separate Flask-based tool to rewrite AI-generated text into human-like prose using a modular prompt system powered by Google GenAI.
           </p>
            
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>FreeSMSInbox(.com), Website to Receive Texts</b></h5>
            <p>Built and deployed a serverless SMS receiver on Twilio infrastructure, using Twilio Functions for backend logic and Cloudflare for domain routing. Integrated Stripe for payment processing and Buttondown for email marketing subscriptions. 
            </p>
            
          </div>
            <div class="w3-container">
            <h5 class="w3-opacity"><b>Tre Gallery, iCloud->R2 Bucket, Photo Gallery Site</b></h5>
            <p>Built a photo gallery site using Cloudflare R2, automating iCloud library syncs and on-boot face recognition/tagging with Python and OpenCV. Designed a lightweight frontend with filtering and sorting to browse media by date, face, or metadata. 
            </p>
            
          </div>


<div class="w3-container">
            <h5 class="w3-opacity"><b>Shawnscott.tech, Resume Website</b></h5>
            <p>Developed a personal portfolio site using Flask for the backend and w3schools' CSS templates for responsive design. Implemented a contact form that uses Flask and Python's smtplib to parse form data and send user inquiries directly to my phone.
           </p>
            
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Apple Music to YouTube Playlist Migrator</b></h5>
            <p>Developed a Flask web app to migrate playlists by scraping Apple Music track lists and using the YouTube Data API with OAuth for automated playlist creation
            </p>
            
          </div>
            <div class="w3-container">
            <h5 class="w3-opacity"><b>Commitify, AI Generated Commit Messages</b></h5>
            <p>I used python's web framework, flask, to create the backend logic and code to process the data (login credentials, notes, recipes, etc) before storing it in the project’s database’s organized tables. I also used CCS to make the UI more readable and pretty. 
            </p>
            
          </div>
										<div class="w3-container">
            <h5 class="w3-opacity"><b>Raspberry Pi Controlled Room Light</b></h5>
            <p>Connected an electrical relay to the power cord of the light and the Raspberry Pi computer. Then wrote simple html code for a simple website and python code to control the on and off state of the light. I used SSH protocols and basic knowledge of electronics to maintain upkeep of the light and website.
           </p>
            
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Daily Affirmation Script</b></h5>
            <p>Using libraries and packages such as smtplib, asyncio, request, easyimap, schedule, and aioimaplib I created a multiple file script that worked as a text automated bot that would send affirmations at a specific time each day. It also allowed the recipient to send messages back to receive pre-programmed responses based on the message sent. 
            </p>
            
          </div>
            <div class="w3-container">
            <h5 class="w3-opacity"><b>Notes and Recipes Website</b></h5>
            <p>I used python's web framework, flask, to create the backend logic and code to process the data (login credentials, notes, recipes, etc) before storing it in the project’s database’s organized tables. I also used CCS to make the UI more readable and pretty. 
            </p>
            
          </div>
            
             <div class="w3-container">
            <h5 class="w3-opacity"><b>Instagram Selenium Automation</b></h5>
            <p>While managing multiple Instagram pages with 10s of thousands of followers I used Selenium to automate the retrieval of the content I needed to post. I did so by directing it to log into my Instagram, gather the pictures needed, allow them to be accessed from a remote device, then allow me to select the pictures I wanted posted, and then last post them. This gave me more time to focus on other lucrative ventures, school, and sports. 
            </p>
          </div>

          <div class="w3-container">
            <h5 class="w3-opacity"><b>Swift Cat Generating App</b></h5>
            <p>Created a niche app idea that used Swift UI designing to create an app display that stood out. Then used API request to provide different pictures of cats and basic audio manipulation to produce a cat meow sound every time a new picture was loaded. 
            </p>
          </div>
            <hr>


            <h2 class="w3-text-grey w3-padding-16">Work Experience</h2>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>Phone and Electronics Reseller</b></h5>
              <p>Remote</p>
              <p>Found profitable items to resell. Created product sale pages and set prices for said products. I also had conversations with potential customers to inform them on the product information, shipping, and times that we could meet up to make transactions. 
              </p>
              
            </div>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>Instagram Page Manager</b></h5>
              <p>Remote</p>
              <p>Through organic means grew businesses from 0 to 1000s of followers on Instagram. Communicated respectfully and timely with customers to provide them with the information needed to ensure they got the services desired. 
              </p>
              
            </div>
              <div class="w3-container">
              <h5 class="w3-opacity"><b>Crew Member</b></h5>
                <p>McDonald’s, Richton Park, IL</p>
              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>NOV. 2021 - MARCH. 2022</h6>
              <p>Hired to work in the kitchen and execute the task of preparing food and helping customers in taking orders. The job duties were not limited, but included operating the cash registers, taking orders from customers, passing the order to the kitchen staff, running the drive-thru, cleaning the restaurant, cooking burgers and other menu items, cleaning and maintaining the kitchen items, and completing all other tasks as assigned. 
            </p>
              
            </div>
              

              <hr>


          
		  <h2 class="w3-text-grey w3-padding-16">Education</h2>
        <div class="w3-container">
			<h3>Schools</h3>
          <h5 class="w3-opacity"><b>Illinois State University</b></h5>
          <h6 class="w3-text-teal">2023-2027 - Junior</h6>
          <h5 class="w3-opacity"><b>Rich Township High School</b></h5>
          <h6 class="w3-text-teal">2019-2023 - Senior</h6>
  
      </div>

      <hr>

      <div class="w3-container">


      <h3>Send Shawn a Message!</h3>

          <div class="subm">
            <form action="https://resume-website-ft63biox7q-ew.a.run.app/message" method="post">
              <label for="fname">First Name</label>
              <input type="text" id="fname" name="firstname" placeholder="Your first name..">
                
              <br>
              <label for="lname">Last Name</label>
              <input type="text" id="lname" name="lastname" placeholder="Your last name..">
              <br><br>
          
              <label for="name">Phone #</label>
              <input type="tel" id="name" name="phone" placeholder="Your #..">
          
              <br>
              <label for="eMail">AND/OR <br> Email Address</label>
              <input type="email" id="eMail" name="emailAddress" placeholder="Your email..">
              <br><br>
              <div class="col-75">
                  <textarea id="subject" name="messages" placeholder="Write something.." style="height:25%;width:80%;"></textarea>
                </div>
            
              <input type="submit" value="Submit">
            </form>
          </div>
          <br>

        </div>

    <!-- End Right Column -->
    </div>
	  
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">

  <div class="foot_1">
  <p>Find me on social media.</p>

  <div class="linked">
  <a href="https://www.linkedin.com/in/shawn-scott-241638212/" target="_blank"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
</div>

<div class="github">
  <a href="https://github.com/Proshawn18" target="_blank"><i class="fa fa-github w3-hover-opacity"></i></a>
</div>

</div>


<div class="foot_2">
<p>Download my resume.</p>
<a href="https://www.udrop.com/file/7Vaf/Resume_2023.pdf" target="_blank" download><i class="fa fa-file-pdf-o w3-hover-opacity"></i></a>
</div>

</footer>

</body>
</html>